@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'),
    local('Roboto-Regular'),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
    format('woff');
}
html{
    background-image: url('../images/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.login-container{
    /*background: #efefef;*/
    padding: 35px;
    font-family: 'Roboto';
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
/*=== 2. Anchor Link ===*/
a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}
a:hover {
    color: #333333;
    text-decoration: none;
}
/*=== 3. Text Outside the Box ===*/
.etc-login-form {
    color: #919191;
    padding: 10px 20px;
}
.etc-login-form p {
    margin-bottom: 5px;
}
/*=== 4. Main Form ===*/
.login-form-1 {
    max-width: 300px;
    border-radius: 5px;
    display: inline-block;
}
.main-login-form {
    position: relative;
}
.login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height:auto;
}
.login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}
.login-form-1 .form-control:-moz-placeholder,
.login-form-1 .form-control::-moz-placeholder,
.login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}
.login-form-1 .form-group {
    margin-bottom: 0;
    border-bottom: 2px solid #efefef;
    padding-right: 20px;
    position: relative;
}
.login-form-1 .form-group:last-child {
    border-bottom: 0;
}
.login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}
.login-group-checkbox {
    padding: 5px 0;
}
/*=== 5. Login Button ===*/
.login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
}
.login-form-1 .login-button:hover {
    color: #555555;
    transform: rotate(450deg);
}
.login-form-1 .login-button.clicked {
    color: #555555;
}
.login-form-1 .login-button.clicked:hover {
    transform: none;
}
.login-form-1 .login-button.clicked.success {
    color: #2ecc71;
}
.login-form-1 .login-button.clicked.error {
    color: #e74c3c;
}
/*=== 6. Form Invalid ===*/
label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}
label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}
/*=== 7. Form - Main Message ===*/
.login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
    border-left-color: #2ecc71;
}
.login-form-main-message.error {
    border-left-color: #e74c3c;
}
/* hover style just for information */
label:hover:before {
    border: 1px solid #f6f6f6 !important;
}
/*=== 9. Misc ===*/
.logo {
    padding: 35px 0;
    font-size: 25px;
    color: #aaaaaa;
    font-weight: bold;
    background-image: url('../images/spectral_login.png');
    background-repeat: no-repeat;
    background-position: center;
}

body {
    background: #F1F3FA;
    margin: 0;
    padding: 0;
    height: 100%;

}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    /*background: #fff;*/
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: auto;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: rgba(255,255,255, 0.1);
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: rgba(255,255,255, 0.1);
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}
.panel-shadow{
    margin: 0 auto;
    width: 100%;
    -webkit-box-shadow: 4px 4px 1px #eee;
    -moz-box-shadow: 4px 4px 1px #eee;
    box-shadow: 4px 4px 1px rgba(80,80,80, 0.5);
    border: solid #2e404f 1px;
    border-radius: 3px 3px 3px 3px;
    padding: 20px 20px 20px 20px;
    background-color: #fff;
}
.green
{
    padding-left: 0;
    border-radius: 4px;
}
.overlay-form
{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    margin-left: -35px;
    padding-left: 0;
    z-index: 10;
    top: 0;
}
.overlay-message
{
    margin-left: 32%;
    display: block;
    width: 40%;
    height: 300px;
    background-color: #ffffff;
    margin-top: 55px;

}
.overlayed
{
    background-color: rgba(0,0,0, 0.3);
}
.nowrap
{
    white-space:nowrap;
}
.table-striped tbody tr.highlight td
{
    background-color: rgba(216, 68, 0, 0.4);
}
.group-box
{
    width: 60%;
    margin-left: 25%;
    height: 18em;
    background-color: #f5f5f5;
    border-radius: 5px;
    border: solid 1px #eee;
    border-top: solid 3em rgba(255, 78, 0 , 0.7);
    padding: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.alpha-container{
    background-image: url('../images/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
.modal-dialog {
    width: 90%;
    height: 90%;
    padding: 0;
}

.modal-content {
    height: 90%;
    border-radius: 0;
}
.log-text{
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
@media (max-width:1199px) {
    .main-container{
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: 100% !important;
    }
}
.pad {
    padding: 10px;
}
.box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
}
.description-block {
    display: block;
    margin: 10px 0;
    text-align: center;
}
.description-block.margin-bottom {
    margin-bottom: 25px;
}
.description-block > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
}
.description-block > .description-text {
    text-transform: uppercase;
}
.text-green {
    color: #00a65a !important;
}
.text-yellow {
    color: #f39c12 !important;
}
.text-red {
    color: #dd4b39 !important;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    height: 80%;
    margin: auto;
}
